version: 2
updates:
    - package-ecosystem: composer
      directory: "/"
      schedule:
          interval: weekly
          timezone: Europe/Oslo
          time: "09:00"
      labels:
          - "dependencies"
